<IfModule mod_deflate.c>

# gzip сжатие.
SetOutputFilter DEFLATE
SetEnvIfNoCase Request_URI "\.(?:gif|jpe?g|png)$" no-gzip

# html, txt, css, js, json, xml, htc:
AddOutputFilterByType DEFLATE text/html text/plain text/css application/json
AddOutputFilterByType DEFLATE text/javascript application/javascript application/x-javascript
AddOutputFilterByType DEFLATE text/xml application/xml text/x-component

# веб-шрифты и svg:
<FilesMatch "\.(ttf|otf|eot|svg)$" >
    SetOutputFilter DEFLATE
</FilesMatch>
</IfModule>

<IfModule mod_expires.c>
Header set Cache-Control "public"
ExpiresActive on

# устанавливаем значения кэширования по умолчанию
ExpiresDefault                          "access plus 1 month"

# cache.manifest требует доп. запросов в FF 3.6
ExpiresByType text/cache-manifest       "access plus 0 seconds"

# задаем кнкретные значения кэширования для каждого типа сайта
# значения ставим в зависмости от специфики проекта

# html 
ExpiresByType text/html                 "access plus 0 seconds"

# данные
ExpiresByType text/xml                  "access plus 0 seconds"
ExpiresByType application/xml           "access plus 0 seconds"
ExpiresByType application/json          "access plus 0 seconds"


# rss поток
ExpiresByType application/rss+xml       "access plus 1 hour"

# фавикон (переименовывать нельзя)
ExpiresByType image/vnd.microsoft.icon  "access plus 1 week"
 
# медиа: картинки, видео, аудио
ExpiresByType image/gif                 "access plus 1 year"
ExpiresByType image/png                 "access plus 1 year"
ExpiresByType image/jpg                 "access plus 1 year"
ExpiresByType image/jpeg                "access plus 1 year"
ExpiresByType video/ogg                 "access plus 1 month"
ExpiresByType audio/ogg                 "access plus 1 month"
ExpiresByType video/mp4                 "access plus 1 month"
ExpiresByType video/webm                "access plus 1 month"

# веб-шрифты
ExpiresByType font/truetype             "access plus 1 month"
ExpiresByType font/opentype             "access plus 1 month"
ExpiresByType font/woff                 "access plus 1 month"
ExpiresByType image/svg+xml             "access plus 1 year"
ExpiresByType application/vnd.ms-fontobject "access plus 1 month"
     
# css и javascript
ExpiresByType text/css                  "access plus 1 month"
ExpiresByType application/javascript    "access plus 1 month"
ExpiresByType text/javascript           "access plus 1 month"
</IfModule>

# если не используется ETag, тогда его отключаем для сокращения HTTP заголовков
FileETag None

# BEGIN хотлинкинга 
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_REFERER} !^http://(.+\.)?carehomeschedule\.com/ [NC] RewriteCond %{HTTP_REFERER} !^$
RewriteRule .*\.(jpe?g|gif|bmp|png)$ /images/nohotlink.jpg [L]
</IfModule>
# END хотлинкинга

# BEGIN Hide console URL
<IfModule mod_rewrite.c>
RewriteEngine On
  
RewriteRule ^carehome_my_admin/?$ /wp-login.php?zjz5xeohrwvs1ei4ui [R,L]
  
RewriteCond %{HTTP_COOKIE} !^.*wordpress_logged_in_.*$
RewriteRule ^carehome_my_admin/?$ /wp-login.php?zjz5xeohrwvs1ei4ui&redirect_to=/wp-admin/ [R,L]
  
RewriteRule ^carehome_my_admin/?$ /wp-admin/?zjz5xeohrwvs1ei4ui [R,L]
  
RewriteCond %{SCRIPT_FILENAME} !^(.*)admin-ajax\.php
RewriteCond %{HTTP_REFERER} !^(.*)carehomeschedule.com/wp-admin
RewriteCond %{HTTP_REFERER} !^(.*)carehomeschedule.com/wp-login\.php
RewriteCond %{HTTP_REFERER} !^(.*)carehomeschedule.com/carehome_my_admin
RewriteCond %{QUERY_STRING} !^zjz5xeohrwvs1ei4ui
RewriteCond %{QUERY_STRING} !^action=logout
RewriteCond %{QUERY_STRING} !^action=rp
RewriteCond %{QUERY_STRING} !^action=postpass
RewriteCond %{HTTP_COOKIE} !^.*wordpress_logged_in_.*$
RewriteRule ^.*wp-admin/?|^.*wp-login\.php /not_found [R,L]
  
RewriteCond %{QUERY_STRING} ^loggedout=true
RewriteRule ^.*$ /wp-login.php?zjz5xeohrwvs1ei4ui [R,L]
</IfModule>
# END Hide console URL

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress